@font-face {
    font-family: OfficinaSansBold; 
    src: url(../fonts/OfficinaSansBoldC.ttf); 
   }
@font-face {
   font-family: OfficinaSansBoldItalic; 
   src: url(../fonts/OfficinaSansBoldC-Italic.ttf); 
	}
@font-face {
    font-family: OfficinaSansBook; 
    src: url(../fonts/ITC Officina Sans LT Book.ttf); 
   }
@font-face {
    font-family: OfficinaSansBookItalic; 
    src: url(../fonts/ITC Officina Sans LT Book Italic.ttf); 
   }


.header {
	background-image: url(../img/first-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	height: 500px;

}
.header-menu {
	background-image: url(../img/меню.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 1px 20px 1px #000;

	.header-list {
		margin: 10px 0;
		list-style-type: none;
		line-height: 20px;
		.logo {
			width: 80px;
		}
		.trunk {
			margin-top: -10px;
			width: 60px;
		}
		li {
			display: inline-block;
		}
		.basket {
			position: relative;
			top: -10px;
			left: 5px;
			text-decoration: underline;
			text-transform: uppercase;
			font-family: @main-font-bold;
			font-size: 16px;
			color: #006bd3;
		}	
		.menu {
			list-style-type: none;
			width: 450px;
			position: relative;
			top: 12px;
			margin: 0 25px;
			.menu-item {
				text-transform: uppercase;
				font-family: @main-font-bold;
				font-size: 17px;
				color: #006bd3;
				margin-bottom: 5px;
				margin-right: 10px;
			}
		}
		.request {
			margin-left: 40px;
			position: relative;
			top: 10px;
			.phone {
				font-size: 23px;
				line-height: 0px;
				color: #000;
				font-family: @main-font-book;
				font-weight: bold;
			}
			&-call {
				font-style: 13px;
				font-weight: bold;
				font-family: @main-font-book;
				text-decoration: underline;
			}
		}

	}
	
}