@font-face {
    font-family: OfficinaSansBold; 
    src: url(../fonts/OfficinaSansBoldC.ttf); 
   }
@font-face {
   font-family: OfficinaSansBoldItalic; 
   src: url(../fonts/OfficinaSansBoldC-Italic.ttf); 
	}
@font-face {
    font-family: OfficinaSansBook; 
    src: url(../fonts/ITC Officina Sans LT Book.ttf); 
   }
@font-face {
    font-family: OfficinaSansBookItalic; 
    src: url(../fonts/ITC Officina Sans LT Book Italic.ttf); 
   }
@font-face {
	font-family: AGLettericaCondensed;
	src: url(../fonts/AGLettericaCondensed.ttf);
}

.mobile-info {
	display: none;
}



.header-menu { 
  	background-color: rgb( 255, 255, 255 );
 	opacity: 0.722;
  	box-shadow: 1px 1.732px 5px 0px rgb( 0, 0, 0 );
	background-repeat: no-repeat;
	background-size: cover;
	.header-list {
		margin: 10px 0;
		list-style-type: none;
		line-height: 20px;
		a {
			width: 80px;
		}
		.logo {
			width: 80px;
		}
		.trunk {
			position: relative;
			left: -10px;
			width: 60px;
		}
		li {
			display: inline-block;
		}
		.basket {
			position: relative;
			top: -10px;
			text-decoration: underline;
			text-transform: uppercase;
			font-family: @main-font-bold;
			font-size: 16px;
			color: #006bd3;
		}	
		.menu {
			list-style-type: none;
			width: 450px;
			position: relative;
			top: 7px;
			margin: 0 25px;
			&-item {
				text-transform: uppercase;
				font-family: @main-font-bold;
				font-size: 17px;
				margin-bottom: 5px;
				margin-right: 10px;
				a {
					color: #006bd3;
				}
			}
		}
		.request {
			margin-left: 40px;
			position: relative;
			top: 20px;
			.phone {
				font-size: 23px;
				line-height: 0px;
				color: #000;
				font-family: @main-font-book;
				font-weight: bold;
			}
			&-call {
				font-style: 13px;
				font-weight: bold;
				font-family: @main-font-book;
				text-decoration: underline;
			}
		}

	}
	
}
.header-menu-admin {
	background: #006bd3;
	opacity: 1;
	.header-list {
		.menu {
			&-item {
				a {
					color: #fff;
				}
			}
		}
		.basket {
			color: #fff;
		}
		.request {

			.phone {
				color: #fff;
			}
			&-call {
				color: #fff;
			}
		}
	}
}
.header {
	background-image: url(../img/first-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	padding-bottom: 20px;
	margin-bottom: -15px;
	//height: 500px;
	.title-block {
		margin: 5px 0 15px;
		&-first {
			background: #006bd3;
			h1 {
				padding: 15px 0;
				color: #fff;
				text-transform: uppercase;
				font-family: @main-font-bold;
				text-align: center;
			}
			
		}
		&-second {
			background: #fdca00;
			margin-top: -20px;
			p {
				line-height: 25px;
				padding: 10px 0 10px 20px;
				color: #000;
				text-transform: uppercase;
				font-family: @main-font-book;
				font-weight: bold;
				font-size: 15px;
			}
		}
	}
	.header-video {
		margin: 30px auto;
		iframe {
			border: 5px solid #006dd5;
			border-radius: 5px;
			width: 100%;
			height: 380px;
		}
	}
.login {
		margin-top: 30px;
		background: linear-gradient(180deg, #028bf8, #006bd3);
		border-radius: 10px;
		padding: 15px;
		border: 3px solid #006bd3;
		&-topic {
			margin-top: 0;
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			font-family: @main-font-bold;
		}
		input {
				height: 25px;
				border: none;
				box-shadow: 0 1px 10px 1px #0059ae;
				border-radius: 5px;
				margin-bottom: 10px;
				font-family: @main-font-book;
				font-weight: bold;
				color: #000;
				padding-left: 10px;
				width: 42%;
			}
		.entrance {
			font-family: @main-font-book;
			text-transform: uppercase;
			.registration {
				color: #fff;
				text-decoration: underline;
				font-size: 13px;
				font-weight: bold;
			}
			.login-btn {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 14px;
				border: none;
				border-radius: 5px;
				background-color: #fdca00;
				width: 50%;
				height: 25px;
			}
		}	
	}

	.feedback {
		margin-top: 30px;
		background: linear-gradient(180deg, #028bf8, #006bd3);
		border-radius: 10px;
		padding: 15px;
		border: 3px solid #006bd3;
		.my-icon {
   		 	position: relative;
		}
		.my-icon > i {
		    position: absolute;
		    display: inline-block;
		   	width: 0; 
		  	height: 0;
		   	border-top: 40px solid #006cd3;
		   	border-left: 138px solid transparent; 
		   	border-right: 141px solid transparent; 
		   	border-radius: 50px;
		    left: -15px;
		    top: 15px;
		    margin-bottom: 15px;
		}
		&-topic {
			font-family: @main-font-bold;
			font-size: 23px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			margin-top: 5px;
		}
		input {
				height: 40px;
				width: 100%;
				border: none;
				box-shadow: 0 1px 10px 1px #0059ae;
				border-radius: 8px;
				margin: 10px 0;
				font-family: @main-font-book;
				font-weight: bold;
				text-transform: uppercase;
				color: #000;
				padding-left: 10px;
			}
		.get {
			width: 100%;
			margin-top: 20px;
			border: none;
			border-radius: 5px;
			height: 40px;
			background-color: #fdca00;
			&-img {
				margin-top: -5px;
				margin-right: 10px;
				width: 30px;
				
			}
			&-text {
				margin-top: 5px;
				margin-left: 10px;
				font-size: 20px;
				font-family: @main-font-book;
				color: #000;
				text-transform: uppercase;
				display: inline-block;
			}
		}

	}
}


.info {
	background: #fff url(../img/info-bg.png) no-repeat;
	background-size: cover;
	height: 100%;
	&-header {
		background-color: rgb( 0, 107, 211 );
		opacity: 0.859;
		height: 80px;
		.info-title {
			margin-top: 20px;
			float: left;
			color: #fff;
			font-family: @main-font-bold;
			font-size: 15px;
			text-transform: uppercase;
			text-align: left;
			&:first-child {
				margin-left: 20px;
				margin-right: -20px;
			}
		}
	}
	&-description {
		background: #fff;
		height: 980px;
		padding: 25px 50px;
		img {
			width: 100%;
			height: 250px;
			border-radius: 10px;
		  	border: 8px solid rgb( 255, 255, 255 );
		  	box-shadow: 3px 3px 10px 1px rgb( 6, 6, 6 );
 			margin-top: 10px;
		}
		.main-descr {
			color: #006bd3;
			font-size: 16px;
			font-family: @main-font-bold;
			text-transform: uppercase;
			margin: 14px 10px;
		}
		.descr {
			font-family: @main-font-bold;
			font-size: 17px;
			color: #000;
			margin: 5px 10px;
		}
		.descr-second {
			width: 450px;
			margin: 23px 20px;
		}

	}
}

.divide {
	position: absolute;
	top: -140px;
	width: 100%;
}
.advantages {
	position: relative;
	background: #fff url(../img/advanture-bg.png) no-repeat;
	background-size: cover;
	height: 1100px;
	&-title {
		background: linear-gradient(180deg, #2681cb, #038bf8);
		margin: 0px auto;
		margin-bottom: 50px;
		width: 100%;
		transform: skew(-30deg);
		padding: 20px 0;
		box-shadow: 2px 2px 10px 0 #666;
		.title {
			font-family: @main-font-bold;
			font-size: 29px;
			text-transform: uppercase;
			color: #fff;
			width: 40%;
			text-align: center;
			margin: 0px auto;
			transform: skew(30deg);
		}
	}
	.advantages-info {
		position: relative;
		margin-bottom: 100px;
		.descr-img {
			width: 550px;
			position: absolute;
			top: 100px;
			left: 25%;
			margin-bottom: 10%;
		}
		.descr {
			display: inline-block;
			width: 200px;
			position: relative;
			text-transform: uppercase;
			&-title {
				font-size: 15px;
				font-family: @main-font-bold;
			}
			&-text {
				text-align: center;
				max-width: 280px;
				font-size: 11px;
				font-family: @main-font-book;
			}
			&:nth-child(1){
				top: -10px;
				left: 430px;
				& .descr-title {
					margin-left: 90px;
					width: 150px;
				}
				& .descr-text {
					width: 280px;
				}
			}
			&:nth-child(2) {
				top: 120px;
				left: 570px;
				& .descr-title {
					width: 200px;
				}
				& .descr-text {
					text-align: left;
					width: 250px;
				}
			}
			&:nth-child(3) {
				top: 310px;
				left: 450px;
				 .descr-title {
					width: 150px;
				}
				& .descr-text {
					width: 50px;
				}
			}
			&:nth-child(4) {
				top: 470px;
				left: 150px;
				& .descr-text {
					width: 150px;
				}
			}
			&:nth-child(5) {
				top: 660px;
				right: 350px;
				& .descr-title {
					margin-left: 50px;
				}
			}
			&:nth-child(6) {
				top: 380px;
				left: 200px;
				& .descr-text {
					width: 90px;
				}
			}
			&:nth-child(7) {
				top: 220px;
				left: -30px;
				 .descr-title {
					width: 50px;
				}
				& .descr-text {
					width: 50px;
				}
			}
			&:nth-child(8)  {
				top: 20px;
				left: -170px;
				.descr-title {
					width: 50px;
				}
				& .descr-text {
					width: 85px;
				}
			}
		}
	}
	&-img {
		position: relative;
		top: 300px;
		left: 720px;
		width: 280px;
	}
	.distinction {
		position: relative;
		top: 100px;
		left: 220px;
		display: inline-block;
		img {
			width: 80px;
		}
	}
	.eko {
		display: inline-block;
		position: relative;
		top: 450px;
		left: 80px;

		img {
			width: 60px;
		}
	}
}

.title-topic {
	background: linear-gradient(180deg, #2681cb, #038bf8);
	margin: 0px auto;
	margin-bottom: 20px;
	width: 300px;
	transform: skew(-15deg);
	padding: 25px 0;
	box-shadow: 2px 2px 10px 0 #666;
	.title {
		transform: skew(15deg);
		font-family: @main-font-bold;
		font-size: 29px;
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		margin: 0;
	}
}
.title-width {
	width: 500px;
}

.title-descr {
	width: 495px;
	margin: 20px auto;

	p {
		text-align: center;
		font-family: @main-font-bold;
		font-size: 20px;
		text-transform: uppercase;
	}
}

.objects {
	padding-bottom: 200px;
	position: relative;
	background: #fff url(../img/objects-bg.png) no-repeat bottom center;
	background-size: 100%;
	//height: 1000px;
	p {
		font-size: 12px;
		font-family: @main-font-book;
		font-weight: bold;
		text-transform: uppercase;
	}
	&-items-first {
		img {
			width: 350px;
			height: 300px;
		}
		p {
			padding: 10px 0;
			font-size: 12px;
			font-family: @main-font-book;
			font-weight: bold;
			text-transform: uppercase;
		}

	}
	&-items-second {
		img {
			width: 250px;
		}
		p {
			padding-top: 10px;
			font-size: 13px;
			font-family: @main-font-book;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}
.products {
	position: relative;
	background: #fff;
	.items {
		margin: 50px auto;
		.item {
			height: 300px;
			margin-bottom: 150px;
			&-img {
				padding-left: 20px;
				height: 200px;
				margin-bottom: 10px;
			}
			&-title {
				font-family: @main-font-bold;
				font-size: 22px;
				text-transform: uppercase;
				width: 100%;
				height: 65px;
				display: block;
			}
			&-description {
				font-family: @additional-font;
				text-transform: uppercase;
				color: #44627e;
				height: 50px;
			}
			&-button {
				background: linear-gradient(#f9d316, #f69e16 );
				width: 50%;
				border: none;
				h3 {
					display: inline-block;
					font-family: @main-font-bold;
					font-size: 28px;
					text-transform: uppercase;
				}
				img {
					width: 80px;
					margin-top: -20px;
					margin-left: -20px;
					margin-right: 20px;
				}
			}
		}
	}
}

.calculator {
	position: relative;
	&-title {
		font-family: @main-font-bold;
		text-align: center;
		text-transform: uppercase;
		color: #2382ce;
		margin: 50px 0;
	}
	margin-bottom: 50px;
}

.mass-media {
	position: relative;
	background: #fff url(../img/mass-media-bg.png) no-repeat;
	background-size: contain;
	margin-bottom: 50px;
	.newspaper {
		background-color: #fff;
		width: 100%;
		height: 100%;
		margin: 20px auto;
		&-item {
			background-color: #fff;
			height: 650px;
			padding: 10px;
			margin-bottom: 50px;
		}
	}
}
.carousel-indicators {
	li {
		background: #000;
	}
	.active {
		background: #2482cd;
	}
}

.carousel-inner {
	width: 65%;
	margin: 0px auto;
}
.reviews {
	background: #fff url(../img/reviews-bg.png) no-repeat;
	background-position: center bottom;
	background-size: 100% 100%;

	.app-item {
		height: 460px;
		margin: 50px auto;
		img {
			width: 150px;
			margin-left: 10px;
		}
		.carousel-caption {
			max-width: 100%;
			height: 100%;
			color: #000;
			margin-left: 50px;
			text-align: left;
			width: 65%;
			font-family: @main-font-book;
			.carousel-title {
				font-size: 16px;
				text-transform: uppercase;
				font-weight: bold;
			}
			.carausel-info {
				font-size: 14px;
				margin: 20px 0;
			}
			.carausel-review {
				font-size: 14px;
			}
		}
	}
	.btn-slide {
		position: relative;
		top: -350px;
		img {
			width: 60px;
		}
		
	}
	.prev-slide {
		left: 120px;
		float: left;
	}
	.next-slide {
		right: 120px;
		float: right;

	}
}

.certificates {
	position: relative;
	background: #fff url(../img/certificates-bg.png) no-repeat;
	background-size:  cover;
	background-position: 100% 100%;
	height: 550px;
	.bush {
		width: 155px;
		position: absolute;
		top: 235px;
		right: 235px;
	}
	&-title {
		background: url(../img/Прямоугольник, скругл.png) no-repeat;
		background-size: 100% 100%;
		width: 450px;
		margin: 0 auto;
		h2 {
			font-size: 25px;
			font-family: @main-font-bold;
			color: #fff;
			text-align: center;
			padding: 15px 10px;
		}
	}
	&-confirm {
		margin-left: 20.6%;
		&-item {
			width: 135px;
			margin-top: 15px;
			margin-right: 45px;
		}
	}
}

.contacts {
	background: #666 url(../img/contacts-bg.png) no-repeat;
	background-size: cover;
	&-title {
		margin-top: 40px;
		h2 {
			text-align: center;
			font-size: 35px;
			font-family: @main-font-bold;
			text-transform: uppercase;
		}
	}
	&-description {
		margin: 0 auto;
		margin-bottom: 50px;
		width: 50%;
		text-align: center;
		p {
			font-family: @main-font-book;
			font-size: 15px;
			font-weight: bold;
		}
	}
}

.map {
	position: relative;
	background-size: cover;
	height: 350px;
	.logo-bottom {
		text-align: center;
		img {
			position: absolute;
			top: 30px;
			right: 10px;
			width: 200px;
		}
	}
}

.location {
	background-color: #2482cd;
	&-content {
		margin: 20px 0;
		color: #fff;
		font-size: 15px;
		h4 {
			font-family: @main-font-bold;
		}
		p {
			font-size: 14px;
			font-family: @main-font-book;
		}
	}
}

/* Admin  styles */

.personal-info {
		margin-bottom: 55px;
		color: #fff;
		font-family: @main-font-bold;
		text-transform: uppercase;
		height: 100px;
		h4 {
			font-size: 16px;
			margin-bottom: 10px;
		}
		.name {
			font-size: 16px;
			text-decoration: underline;
			a {
				color: #fff;
			}
		}
		.exit {
			float: right;
			background: #fdca00;
			border: none;
			border-radius: 5px;
			padding-left: 10px;
			&-text {
				font-size: 15px;
				text-transform: uppercase;
				color: #000;
			}
		}

	}
	
.current-order {
	background: #666 url(../img/snow_texture.png) no-repeat;
	background-size: cover;
	padding-top: 25px;
	padding-bottom: 90px;
	
	&-bg {
		background: linear-gradient(180deg, #028af7,#006bd3);
		border: 3px solid #006bd3;
		border-radius: 10px;
	}
	&-title {
		margin-bottom: 25px;
		margin-right: 20px;
		h1 {
			color: #fff;
			font-family: @main-font-bold;
			font-size: 30px;
			text-transform: uppercase;
		}
	}
	.order-info {
	
		h4 {
			text-transform: uppercase;
			font-family: @main-font-bold;
			font-size: 20px;
		}
		
	}
	.type-payment {
		table {
			margin: 20px 0;
			p {
				font-family: @main-font-bold;
				text-transform: uppercase;
				font-size: 20px;
			}
			img {
				margin-right: 20px;
			}

		}
		button {
			background: none;
			border: none;
		}
	}
}
.table-order {
			width: 100%;
			border: 1px solid #000;
			tr {
				background-color: #f8f7fd;
				border-collapse: collapse;
				border: 1px solid #000;
				p {
					font-family: @main-font-bold;
					text-transform: uppercase;
					padding: 5px 10px;
				}
			}
		}
.flow {
	td {
		border-right: 1px solid #000;
	}
}
.delivery {
	.table-order {
		margin-bottom: 15px;
		&:nth-of-type(3) {
			margin-bottom: 30px;
		}
	}
}
.orders-space {
	margin: 25px 0;
	td {
		&:last-of-type {
			background-color: @brand-warning;
		}
	}

}


/* items */
.clearfix-right {
	&:before,
  &:after {
    content: " ";
    display: block;
  }
  &:after {
    clear: right;
  }
}
.product {
	&-title {
		margin: 45px 0;
		font-size: 25px;
		font-family: @main-font-bold;
		text-transform: uppercase;
		text-align: center;
	}
	&-info {
		font-family: @main-font-bold;
		text-align: center;
		font-size: 18px;
		margin-bottom: 35px;
		clear: right;
		display: table;
		content: '';
		&:nth-of-type(1), &:nth-of-type(2) {
			text-align: left;
		}
		&-description {
			color: #44627e;
			text-transform: uppercase;
			font-family: 'Roman';
		}
		tr:nth-of-type(1), tr:nth-of-type(10), tr:last-of-type  {
			color: #44627e;
			font-weight: bold;
			font-size: 16px;
			text-transform: uppercase;
		}
	}
}

/* Login errors styles */
.login-errors {
	color: @brand-warning;
	font-weight: 700;
}

.registration {
	margin: 30px 20px;
	&-descr {
		font-family: @main-font-bold;
		font-size: 20px;
	}

}

.cart-form {
	label {
	  cursor: pointer;
	  position: relative;
	  padding-top: 12px;
	  font-size: 13px;
	}
	.payment {
		margin-right: 20px;	
	}

}
.product-item {
	.to-cart {
		margin-bottom: 25px;
	}
}

/* empty cart */
.warning-title {
	color:  #44627e;
	font-family: @main-font-bold;
	margin: 20px 0;
}
.warning-button {
	margin: 25px;
	button {
		color:  #44627e;
	}
}

.cabinet-btn {
	color: #44627e;
	width: 100%;
	min-width: 65px;
	height: 41px;
	border-radius: 0;
	border-color: transparent;
	position: relative;
	&-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

}

.permission {
	.code {
		text-align: center;
		font-size: 65px;
		color: #44627e;
		font-family: @main-font-book;
		&:hover {
			color: #006bd3;
			text-decoration: underline;
		}
	}
	.text {
		font-family: @main-font-bold;
		color: #fdca00;
		font-size: 40px;
	}
	.img {
		width: 100%;
		margin: 20px auto;
	}
	.back {
		float: right;
		margin-bottom: 30px;
		font-size: 22px;
		font-family: @main-font-bold;
		color: #44627e;
		& a {
			color: #006bd3;
			text-transform: uppercase;
		}
	}
}

.admin-btn {
	margin: 20px 0;
	img {
		margin: 10px;
	}
	p {
		font-family: @main-font-bold;
		color: #000;
		font-size: 18px;
		text-transform: uppercase;
		display: inline-block;
		text-align: center;
	}

	
}